.App {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}




.App-header {
  background-color: #282c34;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
  color: #efbf2f;
  box-shadow: 1px 1px 2px 1px #808080;
  margin-bottom: 1rem;
  width: 100%;
}



.App-link {
  color: #61dafb;
}

p {  
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14px;
  min-height: 100vh;
  flex-wrap: wrap;
  flex-grow: 1;

}

